body { background-color: #000; color: #00ff41; margin: 0; font-family: sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; }

#app { width: 90%; text-align: center; }

button { background: #222; color: #00ff41; border: 2px solid #00ff41; font-size: 2rem; font-weight: bold; border-radius: 10px; }